<ion-view class="layouts-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>DARE Community</span>
  </ion-nav-title>
  <ion-content>
    <div class="list layouts-functionalities">
        
      <a class="item item-icon-left item-icon-right" href="#" onclick="window.open('https://www.facebook.com/groups/465283313648260/', '_blank', 'location=yes'); return false;">
        <i class="icon ion-social-facebook"></i>
        <div>
          <span class="title">Facebook</span>
          <p class="description">Our Dare Facebook Page</p>
        </div>
        <i class="icon icon ion-arrow-right-c"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
