<ion-view class="profile-view">
  <ion-nav-title>
    <span>Profile</span>
  </ion-nav-title>
  <ion-content>
    <div class="top-content row">
      <div class="profile-container">
        <img class="user-image" ng-src="http://dareresponse.com/images/dare-app-logo.jpg">
        <div class="user-name">DARE</div>
        <div class="user-twitter">www.DareResponse.com</div>
      </div>
         <div class="user-background-image" style="background: url(http://dareresponse.com/images/dare-app-logo.jpg) no-repeat 0 100%"></div>
     </div>
    </div>
    <div class="bottom-content">
      <div class="user-bio">
        <p>If you suffer from anxiety or panic attacks you are advised to either just “mange” the anxiety or medicate it away. 

DARE is a bold new book based on hard science and years of experience helping people end their anxiety problems. 

            It teaches a brand new approach to end anxiety and panic attacks and get people back living life to the fullest.</p>

<p>Accompanying the book is this app that helps you achieve your goal and an online community to support you. You get all the tools you need to break free from anxiety and ensure lasting success. 

This blend of information, technology and community support gets fast results. </p>
      </div>
    </div>
  </ion-content>
</ion-view>
